---
import Text from './Text.astro'
import Title from './Title'

interface Props {
  title?: string
  content?: string
  theme?: keyof typeof themes
  className?: string
}

const { content, title, theme = 'light', className } = Astro.props as Props

const themes = {
  light: 'bg-slate-100',
  dark: 'bg-slate-900'
}

const styles = `p-8 rounded-lg flex flex-col gap-y-4 h-full ${themes[theme]}`
---

<article class={`${styles} ${className}`}>
  <slot name='icon' />
  {
    title && (
      <Title as='h3' size={'sm'} theme={theme}>
        {title}
      </Title>
    )
  }
  {content && <Text theme={theme}>{content}</Text>}
</article>
