---
import Text from './Text.astro'
import Title from './Title'

export interface CommentProps {
  comment: string
  author: {
    name: string
    position: string
    company: string
  }
  className?: string
}

const {
  author: { company, name, position },
  comment,
  className
} = Astro.props as CommentProps
---

<article
  class={`flex justify-center items-center flex-col gap-y-4 shadow-lg p-8 rounded-xl bg-slate-100 ${className}`}
>
  <Text className={`before:content-['“'] after:content-['”']`}>
    {comment}
  </Text>
  <footer class='flex items-center justify-between gap-y-6 w-full'>
    <div class='grid gap-y-2'>
      <Title as={'h3'} size={'xs'}>
        {name}
      </Title>
      <Text>
        {position}
      </Text>
    </div>
    <Text>
      {company}
    </Text>
  </footer>
</article>
