---
interface Props {
  as?: 'p' | 'span'
  theme?: keyof typeof themes
  className?: string
}

const themes = {
  light: 'text-slate-700',
  dark: 'text-slate-400'
}

const { as = 'p', theme = 'light', className } = Astro.props as Props

const styles = `${themes[theme]}`
---

{
  as === 'p' && (
    <p class={`${styles} ${className}`}>
      <slot />
    </p>
  )
}

{
  as == 'span' && (
    <span class={`${styles} ${className}`}>
      <slot />
    </span>
  )
}
